body {
	font-weight: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #000;
	color: #d2d2d2;
}

h1 {
	color: #fff;
}

#header_div {
	margin: auto;
	padding: 1%;
}

#footer_div {
	margin: auto;
	padding: 1%;
}

#footer_div a{
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	margin: 2em;
	text-align: center;
	color: #fff;
}

#main_box {
	margin: auto;
	text-align: justify;
	width: 90%;
	padding-bottom: 1%;
	padding-top: 1%;
}

#main_box img {
	margin: auto;
	display: block;
}

a.link {
	color: #2c73e6;
}

strong {
	color: white;
}
